[Desktop Entry]
Actions=FirejailProfile;
Name=Maui Shell
Comment=Convergent desktop shell
TryExec=/Applications/maui-shell
Exec=/Applications/maui-shell %U
Keywords=maui;shell;desktop
Terminal=false
Type=Application
Categories=Utility;X-KDE-Utilities-Desktop;
StartupNotify=true
Icon=user-desktop

GenericName=Launch Desktop

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/maui-shell
Name=Run without sandbox profile
TryExec=firejail
