# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2024 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Shelf
Comment=Document viewer
TryExec=/Applications/shelf
Exec=/Applications/shelf %U
Keywords=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;shelf;
Terminal=false
Type=Application
GenericName=Document Viewer
Categories=Qt;KDE;Graphics;Office;Viewer;
StartupNotify=true
Icon=shelf
MimeType=application/x-pdf;application/pdf;application/x-gzpdf;application/x-bzpdf;application/x-wwf;

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/shelf
Name=Run without sandbox profile
TryExec=firejail
