[Desktop Entry]
Name=Shelf
Comment=Document viewer
TryExec=/Applications/shelf
Exec=/Applications/shelf %U
Keywords=document;viewer;pdf;
Terminal=false
Type=Application
Categories=Qt;KDE;Graphics;Office;Viewer;
MimeType=application/x-pdf;application/pdf;application/x-gzpdf;application/x-bzpdf;application/x-wwf;
StartupNotify=true
Icon=maui-shelf

GenericName=Document Viewer

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/shelf
Name=Run without sandbox profile
TryExec=firejail
