[Desktop Entry]
Name=Nota
Comment=Text editor
TryExec=/Applications/nota
Exec=/Applications/nota %U
Keywords=text;editor;
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;TextEditor;
MimeType=text/plain;
StartupNotify=true
Icon=nota

GenericName=Text Editor

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/nota
Name=Run without sandbox profile
TryExec=firejail
