[Desktop Entry]
Name=NX Software Center
Comment=AppImage store
TryExec=/Applications/nx-software-center
Exec=/Applications/nx-software-center %U
Keywords=program;software;repository;package;install;remove;update;apps;applications;
Terminal=false
Type=Application
Categories=Qt;KDE;System;
StartupNotify=true
Icon=nx-software-center

GenericName=App Store

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/nx-software-center
Name=Run without sandbox profile
TryExec=firejail
