# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2024 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Buho
Comment=Note taking app
TryExec=/Applications/buho
Exec=/Applications/buho %U
Keywords=notes;todo;nextcloud;maui;
Terminal=false
Type=Application
GenericName=Note Taker
Categories=Qt;KDE;Utility;TextTools;TextEditor;X-Todo;X-KDE-Utilities-Desktop;
StartupNotify=true
Icon=buho

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/buho
Name=Run without sandbox profile
TryExec=firejail
