[Desktop Entry]
Name=Index
Comment=File manager
TryExec=/Applications/index
Exec=/Applications/index %U
Keywords=notes;todo;nextcloud;maui;
Terminal=false
Type=Application
Categories=Qt;KDE;System;FileTools;FileManager;
MimeType=inode/directory;
StartupNotify=true
Icon=system-file-manager

GenericName=File Manager

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/index
Name=Run without sandbox profile
TryExec=firejail
