[Desktop Entry]
Name=Pix
Comment=Image gallery
TryExec=/Applications/pix
Exec=/Applications/pix %U
Keywords=text;editor;
Terminal=false
Type=Application
Categories=Qt;Graphics;Viewer;KDE;
MimeType=image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/webp;StartupNotify=true
Icon=maui-pix

GenericName=Image Gallery

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/pix
Name=Run without sandbox profile
TryExec=firejail
