[Desktop Entry]
Actions=FirejailProfile;
Name=Buho
Comment=Note taking app
TryExec=/Applications/buho
Exec=/Applications/buho %U
Keywords=notes;todo;nextcloud;maui;
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;TextTools;TextEditor;X-ToDo;X-KDE-Utilities-Desktop;
StartupNotify=true
Icon=buho

GenericName=Note Taker

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/buho
Name=Run without sandbox profile
TryExec=firejail
