# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2024 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Station
Comment=Terminal Emulator
TryExec=/Applications/station
Exec=/Applications/station %U
Keywords=terminal;station;maui;
Terminal=false
Type=Application
GenericName=Terminal Emulator
Categories=Qt;KDE;System;TerminalEmulator;
StartupNotify=true
Icon=maui-station
MimeType=application/vnd.appimage;application/x-executable;

SingleMainWindow=true
X-KDE-AuthorizeAction=shell_access

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/station
Name=Run without sandbox profile
TryExec=firejail
