[Desktop Entry]
Name=Sol
Comment=Web browser
TryExec=/Applications/sol
Exec=/Applications/sol %U
Keywords=web;browser;
Terminal=false
Type=Application
Categories=Qt;KDE;Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Icon=sol

GenericName=Web Browser

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/sol
Name=Run without sandbox profile
TryExec=firejail
