# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2024 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Pix
Comment=Image gallery Viewer
TryExec=/Applications/pix
Exec=/Applications/pix %U
Keywords=image;gallery;pix;
Terminal=false
Type=Application
GenericName=Image Gallery
Categories=Qt;Graphics;Viewer;KDE;
StartupNotify=true
Icon=maui-pix
MimeType=image/gif;image/avif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/webp;

SingleMainWindow=true

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/pix
Name=Run without sandbox profile
TryExec=firejail
