[Desktop Entry]
Name=Station
Comment=Terminal emulator
TryExec=/Applications/station
Exec=/Applications/station %U
Keywords=terminal;emulator;
Terminal=false
Type=Application
Categories=Qt;KDE;System;TerminalEmulator;
StartupNotify=true
Icon=station
X-KDE-AuthorizeAction=shell_access

GenericName=Terminal Emulator

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/station
Name=Run without sandbox profile
TryExec=firejail
