# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2024 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Agenda
Comment=Organize events in the calendar
TryExec=/Applications/agenda
Exec=/Applications/agenda %U
Keywords=calendar;events;maui;
Terminal=false
Type=Application
GenericName=CalendarCategories=Qt;KDE;Office;Calendar;StartupNotify=true
Icon=agenda
MimeType=text/calendar;

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/agenda
Name=Run without sandbox profile
TryExec=firejail
