# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2024 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Bonsai
Comment=Git manager
TryExec=/Applications/bonsai
Exec=/Applications/bonsai %U
Keywords=repository;manager;git;
Terminal=false
Type=Application
GenericName=Git Manager
Categories=Qt;KDE;Development;RevisionControl;
StartupNotify=true
Icon=bonsai
MimeType=x-scheme-handler/x-github-client;x-scheme-handler/x-github-desktop-auth;x-scheme-handler/x-github-desktop-dev-auth;

SingleMainWindow=true

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/bonsai
Name=Run without sandbox profile
TryExec=firejail
