# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2024 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Index
Comment=File manager
TryExec=/Applications/index
Exec=/Applications/index %U
Keywords=file;manager;index;
Terminal=false
Type=Application
GenericName=File Manager
Categories=Qt;KDE;System;FileTools;FileManager;
StartupNotify=true
Icon=system-file-manager
MimeType=inode/directory;

SingleMainWindow=true

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/index
Name=Run without sandbox profile
TryExec=firejail
