# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2024 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Strike
Comment=Simple convergent IDE
TryExec=/Applications/strike
Exec=/Applications/strike %U
Keywords=development;software;ide;
Terminal=false
Type=Application
GenericName=Simple IDE
Categories=Qt;KDE;Development;IDE;
StartupNotify=true
Icon=strike
MimeType=text/x-cmake;

SingleMainWindow=true

[Desktop Action FirejailProfile]
Exec=firejail --env=DESKTOPINTEGRATION=appimaged --private --appimage /Applications/strike
Name=Run without sandbox profile
TryExec=firejail
