Source: maui-appimages-git
Section: kde
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://mauikit.org


Package: maui-appimages-git
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: buho-git, clip-git, index-git, nota-git, pix-git, shelf-git, station-git, vvave-git, nx-software-center-git, maui-shell-git
Description: Maui AppImages for Nitrux from Git master.
 Maui AppImages for:
  - buho
  - clip
  - index
  - nota
  - pix
  - shelf
  - station
  - vvave.
  - nx-software-center
  - maui-shell.

